.home-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vh;
}

.post-comment-view-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.create-post-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.register-box {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.profile-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 5vh;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 80vw;
  margin-left: 10vw;
  margin-top: 5vh;
}

.profile-header {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  margin-bottom: 5vh;
}

.delete-account-button {
  margin-top: 5vh;
}

.profile-welcome-text {
  font-size: 1.5rem;
}